* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  background-color: #05386b;
  color: #edf5e1;
}

footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1.4em;
  background-color: #06497c;
  color: #edf5e1;
  position: fixed;
  left: 0;
  bottom: 0;
}

a {
  color: #edf5e1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container {
  width: 50vw;
  height: 85vh;
  margin: 0 auto;
}

.chart {
  width: 55vw;
  height: 80vh;
}

.sideBySide {
  display: flex;
  flex-direction: row;
}

.topBottom {
  display: flex;
  flex-direction: column;
}

.dropdown {
  width: 50%;
  float: left;
  /* Top right bottom left */
  padding: 10px 20px 0px 20px;
}

.dropdown-legend {
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items:center;
  justify-content: center
}

.info {
  padding: 6px 8px;
  font: 11px/14px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: left;
  line-height: 18px;
  color: #555;
  width: 400px;
  height: 250px;
  overflow: auto;
}

.info h3 {
  color: #777;
}